body{
  font-family: sans-serif;
  font-size:110%;
  display: flex;
  flex-direction: column;
  
 }

#mainsection{ 
  display: flex;
  flex-direction:row;
  background-color: #a999a9;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  }

header {
  text-align: right;
  position: sticky
  }

#HeaderTab{ border: #32213a;
  color: #FCF7F8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#headerElements{
  border: solid;
  border-color: #32213a;
  background-color: #32213a;
  position: fixed;
  padding: 1rem;
  margin: 0%;
  ;

}

#AboutME{ 
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  
  
}

#profileImage{
  width: 60%;
  height: 30%;
  border-radius:100% ;
  border-color: #FCF7F8;
  border-style: solid;
  border-width: 0.5rem;
  margin: 2rem;
  float: left;
  
}





#content{ 
  margin: 1rem;
  padding-left: 0%;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 70%;
  
}

#experience{
  display: flex;
}
a{ 
  color: white;
  padding: 1rem;
  margin: 0rem;
}

#education, #experience, #Interests, #skills { background-color: white;
margin: 1px;
padding:0.1rem;
background-size: 60%;
background-color: #a999a9;
border-bottom-style: dashed;
color: black;
text-align: center;


}



.Icons{ border-radius: 80%;
  width: 10%;
  height: 1rem;
  padding: 1rem;

}


footer {
  background-color: #32213a;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 8rem
}
