body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column
  }

#mainsection{ 
  display: flex;
  flex-direction:row;
  overflow: unset;
  background-color: #a999a9;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  }

header {
  text-align: center;
  }

#HeaderTab{
  background-color: #32213a;
  color: #FCF7F8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


#profileImage{
  width: 20%;
  height: 20%;
  border-radius:100% ;
  border-color: #FCF7F8;
  border-style: solid;
  border-width: 0.5rem;
  margin: 2rem;
 
}
#menu{
  background-color: #66717e;
  color: white
  ;
  }
#content{ 
  padding: 1rem;
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

#experience{
  display: flexs;
}
a{ 
  color: white;
  padding: 1rem;
  margin: 0rem;
}

#education, #experience, #skills, #interests{ background-color: white;
margin: auto;
padding:1rem;
background-size: 50%
;

}
}
  
footer {
  background-color: #32213a;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
